/*mobile*/
@media screen and (max-width:1080px) {
    /*section destaque*/
    .descricao-video .titulo{
        font-size: 20px;
    }
    .descricao-video p{
        padding-top: 25px;
        line-height: 20px;
    }
    .seta .seta-caixa{
        width: 35px;
        height: 35px;
        border-radius: 5px;
        line-height: 35px;
        font-size: 25px;
    }
    /*fim section destaque*/

    /*section contato*/
    section.contato .input{
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    section.contato input:not(input[type=submit]){
        width: 100%;
    }
    /*fim section contato*/

     /*section posts*/
    section.posts-blog  .container-posts{
        flex-direction: column;
    }
    .container-posts div{
        margin: 0 auto;
    }
    .container-posts div.titulo{
        width:  80%;
    }
    .container-posts div.descricao {
        width: 80%;
    }
    .container-posts div.img-destaque{
        width: 80%;
    }
    .container-posts div.titulo h1, .container-posts  p, .container-posts img{
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: solid 1px #ccc;
    }
    /*fim section posts*/

    /*section registre*/
    section.registre .input{
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    section.registre input:not(input[type=submit]){
        width: 100%;
    }
    /* fim section registre*/
}

@media screen and (max-width:920px) {
    /*section destaque*/
    section.section-destaque{
        padding: 20px 0;
        min-height: 500px;
        width: 100%;
    }
    .section-destaque .container-video{
        float: none;
        width: 80%;
        min-height: 250px;
        min-width: 350px;
        margin: 0 auto;
    }

    .descricao-video {
        float: none;
        padding-left: 0;
        margin: 0 auto;
        width: 80%;
        min-width: 350px;
    }
    .descricao-video .titulo{
        padding-top: 10px;
        font-size: 16px;
    }
    .descricao-video p{
        padding-top: 10px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .section-destaque div#direction  span{
        top: 460px; 
    }
    .section-destaque div#direction span.selected{
        background-color: white;
    }
    .section-destaque div.seta{
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .seta .seta-caixa{
        float: none;
        display: inline-block;
    }
    /*fim section destaque*/

    /*posts-videos*/
    .posts-videos .post-video{
        width: 50%;
    }
    .posts-videos aside li{
        margin-right: 20px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        font-size: 12px;
    }
    /*fim posts videos*/

    /*sobre*/
    section.sobre{
        padding: 30px 0;
        text-align: center;

    }

    section.sobre .container-informacoes{
        width: 60%;
        float: none;
        text-align: center;
        padding: 20px;
        padding-left: 0px;
        display: inline-block;
    }
    .container-informacoes h2,.container-informacoes h3{
        font-size: 14px;
        text-transform: uppercase;
        color: #333;
    }
    .container-informacoes p{
        padding-top: 20px;
        color: #444;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .container-informacoes h3{
        padding-top: 20px;
        text-transform: initial;
    }
    section.sobre input[type=text]{
        width: 95%;
        border: solid 1px #ccc;
        height: 40px;
        margin-top: 5px;
        padding-left: 8px;
        line-height: 40px;
        font-size: 15px;
        color: #333;
    }
    section.sobre input[type=submit]{
        margin-top: 10px;
        width: 120px;
        height: 40px;
        font-size: 15px;
        text-transform: uppercase;
        color: white;
        border: solid 1px black;
        border-radius: 3px;
        background-color: #444;
    }
    /*fim sobre*/
}
@media screen and (max-width:800px){
    header nav.menu-desktop{
        display: none;
    }
    header nav.menu-mobile{
        display: block;
    }
    section.section-destaque{
        padding: 20px 0;
        min-height: 550px;
        width: 100%;
    }
    .section-destaque div#direction  span{
        top: 505px; 
    }
    .section-destaque div#direction span.selected{
        background-color: white;
    }
    .section-destaque div.seta{
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .seta .seta-caixa{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    /*pagina post*/
    section.posts-blog a{
        flex-direction: column;
    }
    section.posts-blog  .container-posts{
       flex-direction: column;
    }
}
@media screen and (max-width:520px){
    /*section posts videos*/
    .posts-videos .post-video{
        width: 60%;
        float: none;
        margin: 0 auto;
        min-width: 350px;
    }
    /*fim section posts videos*/

    /*posts-videos-indi*/
    section.posts-blog div.container-indi iframe{
        height: 300px;
    }
    /*fim*/
}
@media screen and (max-width:480px){
        /*section destaque*/
        .section-destaque .container-video{
            min-height: 200px;
            min-width: 350px;
        }

}
@media screen and (max-width:380px){
    /*section destaque*/
    .section-destaque .container-video{
        width: 100%;
        min-width: 300px;
    }
    .descricao-video {
        width: 100%;
        min-width: 300px;
    }
    /*fim*/
    .posts-videos .post-video{
        width: 90%;
        float: none;
        margin: 0 auto;
        min-width: 200px;
    }
}

@media screen and (max-width: 360px){
    header nav.menu-mobile ul{
        top: 88px;
    }
    nav.menu-mobile label{
        position: fixed;
        left: 25px;
        top: 80px;
    }

    .section-destaque div.seta{
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .seta .seta-caixa{
        width: 20px;
        font-size: 18px;
        height: 20px;
        margin-left: 3px;
        line-height: 20px;
    }

        /*section destaque*/
        .section-destaque .container-video{
            width: 100%;
            min-width: 250px;
        }
        .descricao-video {
            width: 100%;
            min-width: 250px;
        }
}